<html>
    <title>about us</title>
    <link rel="stylesheet" href="styleabout.css">
    
    <body>
        <div class="content">
            <head><h1>ABOUT</h1></head>
            <h2 >AI Enable car parking using OpenCV</h2>
            <p>
            <b>The AI-Enabled Car Parking System utilizing OpenCv Technology is a cuttin-edge project that aims to revolutioize the way parking lots operate. This system uses OpenCV, a popular computer vision library, to enable vehicles to park autonomously</b>
            </p>
            <p><b>>>>>The OpenCV library analyzes the footage and identifies the available parking spaces in the slot.<br><br>>>>>The system is designed to be highly accurate,and it can detect small and large vehicles, even in low-light condtions.</b></p>
       </div>
    </body>
</html>