<html>
    <head>
        <title>Car parking</title>
        <link rel="stylesheet" href="stylec.css">
        <body>
            <div class="banner">
                <div class="navbar">
                    <ul>
                        <li><a href="about.html">About us</a></li>
                        <li><a href="login.html">Login</a></li>
                        <li><a href="create.html">Register</a></li>
                        <li><a href="">Contact</a></li>
                    </ul>
                    
            
               <div class ="content">
                <h1>REVOLUTIONIZING PARKING</h1>
                <p><h2>AI Enabled Car Parking Using OpenCV</h2></p>
                 <div>
                    <a href="login.html">
                    <button type ="button"><span></span>Get Started</button>
                    </a>
                 </div>
               </div>
            </div>


            </div>


        </body>
    </head>
</html>