<html>
    <head>
        <title>
            Car parking login page
        </title>
        <link rel="stylesheet" type="text/css" href="stylel.css">
        <body>
            <div class="loginbox">
                <img src="avatar1.png" class"avatar" height="70px">
               <h1>Login Here</h1>
               <form>
                <p>Email</p>
                <input type="text" name="" placeholder="Enter email">
                <p>Password</p>
                <input type="password" name="" placeholder="Enter Password"><br>
                <input type="submit" name="" value="Login">
                <a href="#"> Lost your password?</a><br>
                <a href="create.html">Don't have an account?</a>

               </form>

            </div>

        </body>
    </head>
</html>